

.fondo{
  background: rgb(10,79,233);
  background: linear-gradient(180deg, rgba(148,191,233,100) 0%, rgba(78,116,203,1) 100%);
}

.fondo-info{
  background: rgb(63,94,251);
  background: rgb(120,158,252);
  background: linear-gradient(90deg,
    rgba(120,158,252,1) 0%, rgba(116,206,254,1) 50%, rgba(111,176,236,1) 100%);
}


.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flexbox-definicion:before{
  font-size: 25px;
  content: "Definición ";
}


body.card{
  counter-reset: sectionCounter  cardCounter ;
}


 h1.card{
   counter-reset: sectionCounter  cardCounter ;
 }

h1.card:before{
  counter-increment: sectionCounter;
  content:"Sección " counter(sectionCounter) " : ";
}

h2.card:before{
  counter-increment: cardCounter;
  content: counter(sectionCounter)"."counter(cardCounter)"";
}


.definicion{
  border-radius: 25px;
  background-color: #dbcef9;
  background: rgb(229,180,255);
  background: radial-gradient(circle,
    rgba(229,180,255,1) 0%, rgba(219,206,249,1) 100%);
  padding: 20px;
  border: 10px  solid #e6d4f2 ;
  margin: 20px;
  font-size: 20px;
  font-family:  "Lucida Console" Courier monospace;
  width: 70%;
}

.ejercicio{
  border-radius: 25px;
  /*background-color: rgb(92,213,241);/*#94bbe9;;*/
  background: radial-gradient(circle,
    rgba(92,213,241,1) 50%, rgba(183,233,254,1) 99%);
  padding: 20px;
  border: 10px solid #91D3E9;
  margin: 20px;
  font-size: 20px;
  width: 70%
}

.info{
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid #91D3E9;
    margin: 20px;
    font-size: 20px;
    width: 70%;
}

.nota{
  background: rgb(255,206,102);
  background: radial-gradient(circle,
    rgba(255,206,102,1) 50%, rgba(254,242,177,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(255,206,102,1);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}

div.resp{
  display: none;
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid #91D3E9;
    margin: 20px;
    font-size: 20px;
}

.respButton{
    display: block;
    border-radius: 25px;
    border: 10px solid #91D3E9;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}


div.video{
  background: rgb(255,206,102);
  background: radial-gradient(circle,
    rgba(255,206,102,1) 50%, rgba(254,242,177,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(255,206,102,1);
    margin: auto;
    font-size: 20px;
    width: 10%;
    align-content: center;
}

.videoButton{
    display: block;
    border-radius: 25px;
    border: 10px solid #91D3E9;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}
