.fondo{
  background: rgb(10,79,233);
  background: linear-gradient(180deg, rgba(148,191,233,100) 0%, rgba(78,116,203,1) 100%);
}

.fondo-info{
  background: rgb(63,94,251);
  background: rgb(120,158,252);
  background: linear-gradient(90deg,
    rgba(120,158,252,1) 0%, rgba(116,206,254,1) 50%, rgba(111,176,236,1) 100%);
}


.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.flexbox-definicion:before{
  font-size: 25px;
  content: "Definición ";
}


body.card{
  counter-reset: section;
}


h1.card{
  counter-reset: subsection;
}

h1.card::before{
  counter-increment: section;
  content:"Section "counter(section)".";
}

h2.card::before{
  counter-increment: subsection;
  content: counter(section)"."counter(subsection)":";
}


.definicion{
  border-radius: 25px;
  background-color: #dbcef9;/*:#f4eef9;/*#e6d4f2;/*#94bbe9;*/
  padding: 20px;
  border: 10px  solid #e6d4f2 ;/* #dbcef9;*/
  margin: 20px;
  font-size: 20px;
  width: 70%;
}

.ejercicio{
  border-radius: 25px;
  background-color: #94bbe9;;
  padding: 20px;
  border: 10px solid #91D3E9;
  margin: 20px;
  font-size: 20px;
  width: 70%
}

.info{
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid #91D3E9;
    margin: 20px;
    font-size: 20px;
    width: 70%
}
