@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sansr&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Verdana&display=swap');
@import url('https://fonts.googleapis.com/css?family=Futura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}


.fondo{
  background: rgb(10,79,233);
  background: linear-gradient(180deg, rgba(148,191,233,100) 0%, rgba(78,116,203,1) 100%);
}

.fondo-info{
  background: rgb(63,94,251);
  background: rgb(120,158,252);
  background: linear-gradient(90deg,
    rgba(120,158,252,1) 0%, rgba(116,206,254,1) 50%, rgba(111,176,236,1) 100%);
}


.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* for top menu */
.main-header{
  background-image:
    linear-gradient(180deg,
    rgba(148,191,233,100) 30%, rgba(78,116,203,1) 90%);
  width: 100%;
  }

.top-nav ul {
  margin:10px;
  padding: 10px;

}

.top-nav li {
  display: inline;
  border-radius:  20px  solid #AED6F1;
}

.top-nav a{
  padding: 10px;
  font-size: 30px;
  text-decoration: none;

}

.top-nav a:hover{
  background-color: #D6EAF8;
  border-radius:  20px  solid #AED6F1;
}


.calculo-title{
  text-align: center;
  font-size: 40px;
  font-family: "Cinzel";
}

.secciones-main ul{
  margin: 0;
  padding: 10px;
}

.secciones-main li {
    font-size: 30px;
    padding: 10px;
}

.secciones-main a{
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
}

 /*  for numbering */
body.card{
  counter-reset: sectionCounter  cardCounter ;
}


 h1.card{ /* for clearness this should be named like card-title*/
   counter-reset: sectionCounter  cardCounter ;
 }

h1.card:before{/* for clearness this should be named like card-title*/
  counter-increment: sectionCounter;
  content:"Sección " counter(sectionCounter) " : ";
}

h2.card:before{/* for clearness this should be named like card-title*/
  counter-increment: cardCounter;
  content: counter(sectionCounter)"."counter(cardCounter)"";
}

/* for new vertion */

h1.number-title{ /* for clearness this should be named like card-title*/
  counter-reset: sectionCounter  cardCounter ;
  font-family: "Muli";
}
h1.number-title:before{/* for clearness this should be named like card-title*/
 counter-increment: sectionCounter;
 content:"Sección " counter(sectionCounter) " : ";
}

h2.number-title{
  font-family: "Roboto";
}

h2.number-title:before{/* for clearness this should be named like card-title*/
 counter-increment: cardCounter;
 content: counter(sectionCounter)"."counter(cardCounter)"";
}


/* for body boxes */

.definicion{ /* for clearness this should be named like definition-box */
  border-radius: 25px;
  background-color: #dbcef9;
  background: rgb(229,180,255);
  background: radial-gradient(circle,
    rgba(229,180,255,1) 0%, rgba(219,206,249,1) 100%);
  padding: 20px;
  border: 10px  solid #e6d4f2 ;
  margin: 20px;
  font-size: 20px;
  font-family:  "Lucida Console" Courier monospace;
  width: 70%;
}

.definicion-box{ /* for the new vertion */
  border-radius: 25px;
  background-color: #dbcef9;
  background: rgb(229,180,255);
  background: radial-gradient(circle,
    rgba(229,180,255,1) 0%, rgba(219,206,249,1) 100%);
  padding: 20px;
  border: 10px  solid rgba(229,180,255,1);
  margin: 20px;
  font-size: 20px;
  font-family:  "Lucida Console" Courier monospace;
  width: 70%;
}


.ejercicio{
  border-radius: 25px;
  /*background-color: rgb(92,213,241);/*#94bbe9;;*/
  background: radial-gradient(circle,
    rgba(92,213,241,1) 50%, rgba(183,233,254,1) 99%);
  padding: 20px;
  border: 10px solid #91D3E9;
  margin: 20px;
  font-size: 20px;
  width: 70%
}


.ejercicio-box{
  border-radius: 25px;
  /*background-color: rgb(92,213,241);/*#94bbe9;;*/
  background: radial-gradient(circle,
    rgba(92,213,241,1) 50%, rgba(183,233,254,1) 99%);
  padding: 20px;
  border: 10px solid rgba(92,213,241,1);
  margin: 20px;
  font-size: 20px;
  width: 70%
}


.info{
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid #91D3E9;
    margin: 20px;
    font-size: 20px;
    width: 70%;
}

.info-box{
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(217,255,203,1);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}


.nota{
  background: rgb(255,206,102);
  background: radial-gradient(circle,
    rgba(255,206,102,1) 50%, rgba(254,242,177,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(255,206,102,1);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}

.nota-box{
  background: rgb(255,206,102);
  background: radial-gradient(circle,
    rgba(255,206,102,1) 50%, rgba(254,242,177,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(255,206,102,1);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}


.teorema-box{
    /*background: rgb(181,255,114);
    background: radial-gradient(circle,
    rgba(181,255,114,1) 0%, rgba(181,255,233,1) 100%);

    background: rgb(114,233,255);
    background: radial-gradient(circle, rgba(114,233,255,1) 0%, rgba(181,255,249,1) 100*/

    background: rgb(251,161,255);
    background: radial-gradient(circle, rgba(251,161,255,1) 0%, rgba(252,255,181,1) 100%);

    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgb(251,161,255);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}



.resp{
  display: none;
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid #91D3E9;
    margin: 20px;
    font-size: 20px;
}

.resp-box{
  display: none;
  background: rgb(217,255,203);
  background: linear-gradient(0deg,
    rgba(217,255,203,1) 0%, rgba(149,240,148,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(217,255,203,1);
    margin: 20px;
    font-size: 20px;
}


.prop-box{
  background: rgb(255,165,199);
  background: radial-gradient(circle,
    rgba(255,165,199,1) 50%, rgba(254,228,177,1) 100%);
    border-radius: 25px;
    padding: 20px;
    border: 10px solid rgba(255,102,160,1);
    margin: 20px;
    font-size: 20px;
    width: 70%;
}


.respButton{
    display: block;
    border-radius: 25px;
    border: 10px solid white;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;

}

.video{

  background-color: #FFFFFF	;
  /*background: rgb(92,213,241);
  background: radial-gradient(circle,
    rgba(92,213,241,1) 50%, rgba(183,233,254,1) 70%);*/

    border-radius: 25px;
    padding: 10px;
    border: 10px solid #AED6F1;
    margin: auto;
    font-size: 20px;
    width: 10%;
    height: 10%;
    align-content: center;
}


.imagen-box{
    border-radius: 25px;
    padding: 30px;
    border: 10px;
    margin: auto;
    font-size: 20px;
    width: 10%;
    height: 50%;
    align-content: center;
}

.video a{
  text-decoration: none;
}

.hvr-grow {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
